.messages {
	margin:0;
	padding:0;
	list-style-type:none;
	max-width: 50%;
}

.messages p{
	display:block;
	clear:both;
	margin:0 0 1rem 0;	
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.messages  img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

.myMessages p {
	float:right;
}

.myMessages  img {
	float:right;
}

.myMessages p {
	background:#158ffe;
	color:#fff;	
	border-radius:.75rem;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

