<ion-pane>
    <ion-header-bar style="background-color: green;" class="bar-stable">
        <h1 style="color: white;" class="title">Chat</h1>
    </ion-header-bar>    
    <ion-content ng-controller="chatCTRL">
			<!-- listagem -->
			<div id="msg">		
				<div ng-repeat="message in getLista()">
					<div ng-if="compareToken(message) == true">
						<div class="myMessages">
							<ol  class="myMessages">
							
								<div ng-if="compareTamanho(message.conteudo) == true">
									<li>
										<p>{{message.nome}}:</p>
										<img ng-src="{{message.conteudo}}" />
									</li>
								</div>
							</ol>
							<ol  class="myMessages">
								<div ng-if="compareTamanho(message.conteudo) == false">
									<li>
										<p>{{message.nome}}:</p>
										<p>{{message.conteudo}}</p>
									</li>
								</div>
							</ol>
						</div>
						<br/>
					</div>
					<div ng-if="compareToken(message) == false">
						<div class="messages">
							<ol  class="messages">
							
								<div ng-if="compareTamanho(message.conteudo) == true">
									<li>
										<p>{{message.nome}}:</p>
										<img ng-src="{{message.conteudo}}" />
									</li>
								</div>
							</ol>
							<ol  class="messages">
								<div ng-if="compareTamanho(message.conteudo) == false">
									<li>
										<p>{{message.nome}}:</p>
										<p>{{message.conteudo}}</p>
									</li>
								</div>
							</ol>
						</div>
					<br/>
				</div>
			</div>  
			<form>           
				<div class="espaco2"> 
					<label class="item item-input">
						<input type="text" ng-model="mensagem.conteudo" maxlength="120">  
					</label>
					<div class="row">
						<div class="col">
							<button class=" icon-camera button button-block" style="background-color: forestgreen; color:white;" ng-click="takePicture()" ></button>
						</div>
						<div class="col">
							<button class=" icon-comments-alt button button-block" style="background-color: forestgreen; color:white;" ng-click="send()"></button>
						</div>
					</div>
				</div>
			</form>
    </ion-content>
</ion-pane>