<ion-pane>
    <ion-header-bar style="background-color: green;" class="bar-stable">
        <h1 style="color: white;" class="title">Cadastro</h1>
    </ion-header-bar>
    <ion-content ng-controller="cadastroCTRL">

        <div class="list">
            <form>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome do Aluno</span>
                    <input type="text" ng-model="usuario.nome" placeholder="seu nome completo"/>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">CPF</span>
                    <input type="number" ng-model="student.cpf" placeholder="ex.: 000.000.000-00"/>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Matrícula</span>
                    <input type="number" ng-model="usuario.matricula" placeholder="apenas números"/>
                </label>

                <div class="row">
                    <div class="col">
                        <button class="icon-trash button button-block button-assertive" type="reset"></button>
                    </div>
                    <div class="col">
                        <button class="icon-save button button-block button-positive" ng-click="cadastrar()"></button>
                    </div>
                </div>
            </form>
            </div>
</ion-content>
</ion-pane>