<ion-pane>  
    <ion-content>
			<div  class="row responsive-sm">
				<div class="item item-image" style="margin-top: 25%; border: none;">
					<img src="css/resource/logo.png" alt="Logo" width="50%" height="50%">
				</div>
				<div class="col">
					<label style="margin-left: 35%; margin-top: 25%;"><strong>CARREGANDO...</strong></label>
				</div>
			</div>
    </ion-content>
</ion-pane>